@media (max-width: 640px) {
    .notification-item {
        padding: 1rem;
    }
    .button-container button {
        padding: 0.5rem 1rem;
        font-size: 0.875rem;
    }
}


@media (max-width: 768px) {
    .container-notif {
        margin-top: 60px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
 }

 @media (min-width: 768px) {
    .container-notif {
        margin-top: 100px;
    }
 }

